<!DOCTYPE html>
<html>
  <head>
    <title>Bagel Turret</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  
  <body>
    <div id="container">
      <h1>Jem's Bagel Turret Stream</h1>
      <img src="{{ url_for('stream') }}">
      <div id="buttons">
        <button id="left" class="button1">Left</button>
        <button id="right" class="button1">Right</button>
        <button id="fire" class="button3">Fire</button>
        <button id="up" class="button2">Up</button>
        <button id="down" class="button2">Down</button>
        
        <script type=text/javascript>
          $(function() {
            $('#left').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/command', { action: "1" });
            });
            $('#right').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/command', { action: "2" });
            });
            $('#fire').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/command', { action: "3" });
            });
            $('#up').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/command', { action: "4" });
            });
            $('#down').bind('click', function() {
              $.getJSON($SCRIPT_ROOT + '/command', { action: "5" });
            });
          });
        </script>
        
      </div>
    </div>
  </body>
</html>
